[Desktop Entry]
Version=1.0
Type=Link
Name=(64) thesaintsofsoul - YouTube
Comment=
Icon=user-bookmarks
URL=https://www.youtube.com/user/thesaintsofsoul/videos
