[Desktop Entry]
Version=1.0
Type=Link
Name=(65) The HIPS singing "Rockin' In The Free World" - YouTube
Comment=
Icon=user-bookmarks
URL=https://www.youtube.com/watch?v=FRJQeGNbiZQ&feature=youtu.be&list=PLjkt-YXK2_BsO4rNk1VahMYF5XGlO1Mfo&fbclid=IwAR1Hk67mDq9W-HDeMrXI3l5UDt0dWjQdjn-foKwhf4HkXZFWE66Q3k-Osp0
