[Desktop Entry]
Version=1.0
Type=Link
Name=saints of soul band - Ecosia
Comment=
Icon=user-bookmarks
URL=https://www.ecosia.org/videos?q=saints+of+soul+band
